# The 'node_modules' folder is created during the 'dependencies' stage, so no copying is required
node_modules

# The 'dist' folder is created during the 'build' stage, so no copying is required
dist

# Folders and files not required in the production version
cdk.out
scripts
**/**/*.spec.ts
test

# Exclude files that shouldn't be copied to the image, even in local builds
.env*
.eslint.js
.pritierrc
Dockerfile
.dockerignore
README.md

# Git-related data is not required inside the image
.gitignore
.git